@import url('https://fonts.cdnfonts.com/css/godofwar');
@import url("reset.css");
body {
    font-family: 'GodOfWar', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1e1e1e;
    color: #fff;
}

h2 {
    font-size: 3em;
    text-align: center;
    margin-bottom: 1em;
    border-color: red;
}

p {
    font-size: 1.5em;
    line-height: 1.5;
    margin-bottom: 1em;
    color: rgb(105, 0, 0);
}